__pycache__/
*.py[cod]
.env/
.env
test-audio/English/final_payload.json
.gitignore
test-audio/English/test_audio_b64.txt
test-audio/English/payload.json
frontend/node_modules
frontend/dist
dispatcher/node_modules
dispatcher/.env
dist/
package-lock.json
backend/package-lock.json